/*Grace hopper*/
  
body {
    text-align:center;
    font-family: Open Sans, sans-serif;
    background-color: #8A71C9;
    color: #FFFFFF;
    margin: 0 0 30px 0;
    }
  h1{
    font-size: 60px;
    font-weight: 300;
  }
  
  h2{
    color: #2A0074;
    font-size: 40px;
  }
  h3{
    font-size: 22px;
    font-style: italic;
  }
  p{
    font-size: 20px;
    line-height: 1,5;
  }
  
  .titulo-verdeagua{
    color: #61e8a9;
  }
  
  .titulo-amarelo{
    color: #e8e14a;
  }
  
  .titulo-verde{
    color: #7ae856;
  }
  .titulo-vermelho{
    color: #e8553f;
  }
  .titulo-roxo{
    color: #9c1a89;
  }
  .titulo-azul{
    color: #135c9c;
  }
  .titulo-rosa{
    color: #9E1537;
  }
  img{
    width: 50%;
  }
  
  section{
      width: 60%; 
      margin: auto;
  }
  section section{
    width: 100%;
  }
  
  ul{
    list-style-type: none;
    line-height: 2;
    padding-left: 0;
   }
  
  a{
    text-decoration: none;
    color: #99FFFF;
    font-weight: 700;
    
  }
  
  .principal{
    background-color: #FF6CB5;
    height: 40px;
    max-width: 60%;
    margin: 0 auto;
  }
  
  .principal a{
    color: white;
    list-style-type: #FFF;
    text-decoration: underline;
    font-weight: normal;
  
    
  }
  
  .principal li{
    display: inline-block;
    line-height: 2.5;
    margin: 0 89px;
   
  }
  button{
    background-color: #41F341;
    margin: 1px solid transparent;
    padding: 2px 20px;
    border-radius: 3px;
    }
  .principal a:link {color: white}
  .principal a:hover {color: rgb(56, 2, 107)}
  .principal a:focus {color: #5C0631}
.menu{
    list-style:none;
    border:1px solid #c0c0c0;
    float:left;
    }
  .menu li{
    position:fixed;
    float:none;
    border-right:1px solid #c0c0c0;
    }
  .principal li a{color:#333; text-decoration:none; padding:0; display:block;}

  .principal li  ul{
    position: fixed;
    top: 30%;
    left:auto;
    background-color:#FF6CB5;
    display: none;
  }
    .principal li ul a:hover{
background:rgb(173, 43, 152);
color:#fff;
box-shadow:5px 5px 5px rgb(170, 42, 138) inset;

text-shadow:0px 0px 5px #fff;
    }
    
  .principal li:hover ul, .principal li.over ul{display:block;}
  .principal li ul li{
    border:1px solid #FF6CB5;
    display:block;
    width:150px;
    }